.dom__mainContainer{
    width: 80%;
    margin: auto;
}
.dom__container{
    width: 100%;
    height: auto;
    background: #E3E3E3;
    border: 1px solid;
    margin: 70px auto 0;
    margin-bottom: 40px;

    @include below('tablet-large'){
        width: 100%;   
    }
}

.dom__wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.dom__inputBlock{
    display: flex;
    flex-direction: column;
   padding: 40px;
    height: 100%;
    margin-top: 20px;
    gap: 20px;

    span{
        display: flex;
        flex-direction: column;
    }    
}

.inputResult{
    border: 2px solid;
    background: white;
    width: 300px;
    height: 50px;
    padding: 0 20px;

    @include below('tablet-large'){
        width: auto;   
    }
}

.dom__button-container{

    button{
        background: white;
        padding: 0 20px;
        height: 50px;
        margin-bottom: 10px;
    }
}

.dom__outputBlock{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #1E1E1E;
    
    span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 20px;
    }
    
    h5{
        text-align: center;
        padding: 15px 5px;
        width: 100%;
    }

    p{
        padding: 10px;
    }

    &.error,&.success{    
        color: #000000;
        font-weight: bold;
        text-align: center;
    }

    &.error{
        background-color: #F3E0E0;
        border: 2px solid #B73232;
    }
    
    &.success{
        background-color: #E3F3E0;
        border: 2px solid #41830D;
    }
}

.err{
    color: #B73232;
}
.succ{
    color: #000000;
}
.none{
    display: none;
}
.block{
    display: block;
}

li{
    list-style: none;
}

