$component: ".footer";

#{$component}__container {
  background: burlywood;
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#{$component}__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#{$component}__logo-block {
  width: 100px;
}

#{$component}__links {
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

#{$component}__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#{$component}__nav-anchor{
  color: purple;
}


#{$component}__nav-list {
  display: flex;
  justify-content: space-around;
}
