{% render 'collection-liquid-to-json', collection %}
{% comment %} show all collections {% endcomment %}
<div class="container collection-container">
  <h1>{{ collection.title }}</h1>
  <div class="collection-wrap">
    {% for product in collection.products %}
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>
</div>