{% section 'hero-about' %}

<div class="container">
  <div class="content">
    {{ page.content }}
  </div>
</div>
{% render 'dom-excercise' %}

{% include 'right-img-section' %}
{% include 'left-img-section' %}