$component:".cart";

#{$component}__item{
  padding: 10px;
}

#{$component}__item-image{
  img{
    width: 100%;
  }
}

#{$component}__item-info{
  display: flex;
  justify-content: space-between
}

#{$component}__item-product{
display: flex;
flex-direction: column;
justify-content: space-between;
}

#{$component}__item-image{
  a{
    padding: 0;
  }
}