$component: ".product";

#{$component}__container{
  margin-top: 100px;
}

#{$component}__description{
  margin-top: 20px;
  margin-bottom: 20px;
}

#{$component}__select-option{
  border: 1px solid;
}

#{$component}__submit-block{
  button{
    margin-bottom: 20px;
    background-color: burlywood;
  }
}

#{$component}__block{
  display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

#{$component}__price{
    margin-top: 20px;
}

#{$component}__image{
  width: 100%;
}

#{$component}__variant{
  margin: 20px 0;

  select{
    border: 1px solid;
  }

  .btn{
    background-color: burlywood;
    padding: 5px;
    margin-top: 20px;
  }
}