<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the sum of these numbers</p>
      </div>
      <span>
        <label for="">Number interger</label>
        <input class="inputResult js-value1" type="number">
      </span>
      <span>
        <label for="">Number interger</label>
        <input class="inputResult js-value2" type="number">
      </span>
      <div class="dom__button-container">
        <button class=" js-submit-add">Add</button>
        <button class=" js-submit-sub">Subtract</button>
        <button class=" js-submit-mul">Multiply</button>
        <button class=" js-submit-div">Divide</button>
      </div>
    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result"></h5>
      </span>
    </div>
  </div>
</div>