{% comment %} add {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the sum of these numbers</p>
      </div>
      <span>
        <label for="sum1">Number1 interger</label>
        <input
          class="inputResult js-value1"
          id="sum1"
          type="number">
      </span>
      <span>
        <label for="sum2">Number2 interger</label>
        <input
          class="inputResult js-value2"
          id="sum2"
          type="number">
      </span>
      <span>
        <input class="inputResult js-submit-add" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result-add"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} sub {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the difference of these numbers</p>
      </div>
      <span>
        <label for="dif1">Number1 interger</label>
        <input
          class="inputResult js-value11"
          id="dif1"
          type="number">
      </span>
      <span>
        <label for="dif2">Number2 interger</label>
        <input
          class="inputResult js-value21"
          id="dif2"
          type="number">
      </span>
      <span>
        <input class="inputResult js-submit-sub" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result-sub"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} mul {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the product of these numbers</p>
      </div>
      <span>
        <label for="mul1">Number1 interger</label>
        <input
          class="inputResult js-value1"
          id="mul1"
          type="number">
      </span>
      <span>
        <label for="mul2">Number2 interger</label>
        <input
          class="inputResult js-value2"
          id="mul2"
          type="number">
      </span>
      <span>
        <input class="inputResult js-submit-mul" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result-mul"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} div{% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the quotient of these numbers</p>
      </div>
      <span>
        <label for="div1">Number1 interger</label>
        <input
          class="inputResult js-value1"
          id="div1"
          type="number">
      </span>
      <span>
        <label for="div2">Number2 interger</label>
        <input
          class="inputResult js-value2"
          id="div2"
          type="number">
      </span>
      <span>
        <input class="inputResult js-submit-div" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result-div"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} div {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the random of these numbers</p>
      </div>
      <span>
        <label for="num1">Number1 interger</label>
        <input
          class="inputResult js-value1"
          id="num1"
          type="number">
      </span>
      <span>
        <label for="num2">Number2 interger</label>
        <input
          class="inputResult js-value2"
          id="num2"
          type="number">
      </span>
      <span>
        <input class="inputResult js-submit-ran" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result-ran"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} num of character {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes takes a string and returns the number of characters in the string</p>
      </div>
      <span>
        <label for="num1">Enter a string</label>
        <input
          class="inputResult js-value1"
          id="num1"
          type="text">
      </span>
      <span>
        <input class="inputResult js-submit-str" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block">
      <span>
        <label class="js-error" for="">Result</label>
        <h5 class="inputResult js-result-str"></h5>
      </span>
    </div>
  </div>
</div>