{% comment %} add {% endcomment %}
<div class="dom__mainContainer">
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the sum of these numbers</p>
      </div>
      <span>
        <label for="sum1">Number1 interger</label>
        <input
          class="inputResult js-addValue1"
          id="sum1"
          type="number" onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <label for="sum2">Number2 interger</label>
        <input
          class="inputResult js-addValue2"
          id="sum2"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <input class="inputResult js-submit-add" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block-add">
      <span>
        <label class="js-error-add">Result</label>
        <h5 class="inputResult js-result-add"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} sub {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the difference of these numbers</p>
      </div>
      <span>
        <label for="dif1">Number1 interger</label>
        <input
          class="inputResult js-subValue1"
          id="dif1"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <label for="dif2">Number2 interger</label>
        <input
          class="inputResult js-subValue2"
          id="dif2"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <input class="inputResult js-submit-sub" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block-sub">
      <span>
        <label class="js-error-sub" for="">Result</label>
        <h5 class="inputResult js-result-sub"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} mul {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the product of these numbers</p>
      </div>
      <span>
        <label for="mul1">Number1 interger</label>
        <input
          class="inputResult js-mulValue1"
          id="mul1"
          type="number"onkeydown="return event.keyCode !== 69"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <label for="mul2">Number2 interger</label>
        <input
          class="inputResult js-mulValue2"
          id="mul2"
          type="number"onkeydown="return event.keyCode !== 69"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <input class="inputResult js-submit-mul" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-mul">
      <span>
        <label class="js-error-mul" for="">Result</label>
        <h5 class="inputResult js-result-mul"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} div{% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the quotient of these numbers</p>
      </div>
      <span>
        <label for="div1">Number1 interger</label>
        <input
          class="inputResult js-divValue1"
          id="div1"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <label for="div2">Number2 interger</label>
        <input
          class="inputResult js-divValue2"
          id="div2"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <input class="inputResult js-submit-div" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-div">
      <span>
        <label class="js-error-div" for="">Result</label>
        <h5 class="inputResult js-result-div"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} random {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two numbers and returns the random of these numbers</p>
      </div>
      <span>
        <label for="num1">Minimum Number1 interger</label>
        <input
          class="inputResult js-ranValue1"
          id="num1"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <label for="num2">Maximum Number2 interger</label>
        <input
          class="inputResult js-ranValue2"
          id="num2"
          type="number"onkeydown="return event.keyCode !== 69">
      </span>
      <span>
        <input class="inputResult js-submit-ran" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-ran">
      <span>
        <label class="js-error-ran" for="">Result</label>
        <h5 class="inputResult js-result-ran"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} num of character {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes takes a string and returns the number of characters in the string</p>
      </div>
      <span>
        <label for="num1">Enter a string</label>
        <input
          class="inputResult js-strValue1"
          id="num1"
          type="text">
      </span>
      <span>
        <input class="inputResult js-submit-str" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-str">
      <span>
        <label class="js-error-str" for="">Result</label>
        <h5 class="inputResult js-result-str"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} add 2 strings {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>This module takes two strings and returns a combination of the two strings</p>
      </div>
      <span>
        <label for="num1">Enter string1</label>
        <input
          class="inputResult js-conValue1"
          id="num1"
          type="text">
      </span>
      <span>
        <label for="num2">Enter string2</label>
        <input
          class="inputResult js-conValue2"
          id="num2"
          type="text">
      </span>
      <span>
        <input class="inputResult js-submit-con" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-con">
      <span>
        <label class="js-error-con" for="">Result</label>
        <h5 class="inputResult js-result-con"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} check for repeat {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>takes two strings, and returns true/false based on if the second string exists inside the first string</p>
      </div>
      <span>
        <label for="num1">Enter string1</label>
        <input
          class="inputResult js-repValue1"
          id="num1"
          type="text">
      </span>
      <span>
        <label for="num2">Enter string2</label>
        <input
          class="inputResult js-repValue2"
          id="num2"
          type="text">
      </span>
      <span>
        <input class="inputResult js-submit-rep" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-rep">
      <span>
        <label class="js-error-rep" for="">Result</label>
        <h5 class="inputResult js-result-rep"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} check for repeat count {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>The module takes two strings, and returns the number of times that the second string is found in the first one</p>
      </div>
      <span>
        <label for="num1">Enter string1</label>
        <input
          class="inputResult js-repCValue1"
          id="num1"
          type="text">
      </span>
      <span>
        <label for="num2">Enter string2</label>
        <input
          class="inputResult js-repCValue2"
          id="num2"
          type="text">
      </span>
      <span>
        <input class="inputResult js-submit-repC" type="submit">
      </span>

    </div>
    <div class="dom__outputBlock js-op_block-repC">
      <span>
        <label class="js-error-repC" for="">Result</label>
        <h5 class="inputResult js-result-repC"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} check for reverse str {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>The module takes one string, and returns the string reversed</p>
      </div>
      <span>
        <label for="num1">Enter a string</label>
        <input
          class="inputResult js-revStrValue1"
          id="num1"
          type="text">
      </span>
      <span>
        <input class="inputResult js-submit-revStr" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block-revStr">
      <span>
        <label class="js-error-revStr" for="">Result</label>
        <h5 class="inputResult js-result-revStr"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} email validation {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>The module takes one string, and checks if it's a valid email address</p>
      </div>
      <span>
        <label for="num1">Enter a string</label>
        <input
          class="inputResult js-emValue1"
          id="num1"
          type="email">
      </span>
      <span>
        <input class="inputResult js-submit-em" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block-em">
      <span>
        <label class="js-error-em" for="">Result</label>
        <h5 class="inputResult js-result-em"></h5>
      </span>
    </div>
  </div>
</div>
{% comment %} str checker {% endcomment %}
<div class="dom__container">
  <div class="dom__wrapper">
    <div class="dom__inputBlock">
      <div class="dom__header">
        <p>The module  that takes one string, if it passes some rules</p>
        <ul>
          <li>The string needs to be at least 10 characters long</li>
          <li>The string needs to include at least one uppercase character</li>
          <li>The string needs to include at least on lowercase character</li>
          <li>The string needs to include at least one number</li>
        </ul>
      </div>
      <span>
        <label for="num1">Enter a string</label>
        <input
          class="inputResult js-strCheckValue1"
          id="num1"
          type="email">
      </span>
      <span>
        <input class="inputResult js-submit-strCheck" type="submit">
      </span>
    </div>
    <div class="dom__outputBlock js-op_block-strCheck">
      <span>
        <label class="js-error-strCheck" for="">Result</label>
        <h5 class="inputResult js-result-strCheck"></h5>
      </span>
      <p class=" js-result-strCheckerror">
      </p>
    </div>
  </div>
</div>
</div>