{% comment %} add {% endcomment %}
<div class="dom__mainContainer">
  <div class="dom__container" id="add">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes two numbers and returns the sum of these numbers</p>
        </div>
          <span>
            <label for="sum1">Number1 interger</label>
            <input
              class="inputResult js-value1"
              id="sum1"
              type="number" onkeydown="return event.keyCode !== 69">
          </span>
          <span>
            <label for="sum2">Number2 interger</label>
            <input
              class="inputResult js-value2"
              id="sum2"
              type="number"onkeydown="return event.keyCode !== 69">
          </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-add">
        <span>
          <label class="js-error">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} sub {% endcomment %}
  <div class="dom__container" id="sub">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes two numbers and returns the difference of these numbers</p>
        </div>
        <span>
          <label for="dif1">Number1 interger</label>
          <input
            class="inputResult js-value1"
            id="dif1"
            type="number"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <label for="dif2">Number2 interger</label>
          <input
            class="inputResult js-value2"
            id="dif2"
            type="number"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-sub">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} mul {% endcomment %}
  <div class="dom__container" id="mul">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes two numbers and returns the product of these numbers</p>
        </div>
        <span>
          <label for="mul1">Number1 interger</label>
          <input
            class="inputResult js-value1"
            id="mul1"
            type="number"onkeydown="return event.keyCode !== 69"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <label for="mul2">Number2 interger</label>
          <input
            class="inputResult js-value2"
            id="mul2"
            type="number"onkeydown="return event.keyCode !== 69"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-mul">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} div{% endcomment %}
  <div class="dom__container" id="div">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes two numbers and returns the quotient of these numbers</p>
        </div>
        <span>
          <label for="div1">Number1 interger</label>
          <input
            class="inputResult js-value1"
            id="div1"
            type="number"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <label for="div2">Number2 interger</label>
          <input
            class="inputResult js-value2"
            id="div2"
            type="number"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-div">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} random {% endcomment %}
  <div class="dom__container" id="ran">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes two numbers and returns the random of these numbers</p>
        </div>
        <span>
          <label for="num1">Minimum Number1 interger</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="number"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <label for="num2">Maximum Number2 interger</label>
          <input
            class="inputResult js-value2"
            id="num2"
            type="number"onkeydown="return event.keyCode !== 69">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-ran">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result" id="result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} num of character {% endcomment %}
  <div class="dom__container" id="str">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes takes a string and returns the number of characters in the string</p>
        </div>
        <span>
          <label for="num1">Enter a string</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="text">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-str">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} add 2 strings {% endcomment %}
  <div class="dom__container" id="con">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>This module takes two strings and returns a combination of the two strings</p>
        </div>
        <span>
          <label for="num1">Enter string1</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="text">
        </span>
        <span>
          <label for="num2">Enter string2</label>
          <input
            class="inputResult js-value2"
            id="num2"
            type="text">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-con">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} check for repeat {% endcomment %}
  <div class="dom__container" id="rep">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>takes two strings, and returns true/false based on if the second string exists inside the first string</p>
        </div>
        <span>
          <label for="num1">Enter string1</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="text">
        </span>
        <span>
          <label for="num2">Enter string2</label>
          <input
            class="inputResult js-value2"
            id="num2"
            type="text">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-rep">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} check for repeat count {% endcomment %}
  <div class="dom__container" id="repC">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module takes two strings, and returns the number of times that the second string is found in the first one</p>
        </div>
        <span>
          <label for="num1">Enter string1</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="text">
        </span>
        <span>
          <label for="num2">Enter string2</label>
          <input
            class="inputResult js-value2"
            id="num2"
            type="text">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>

      </div>
      <div class="dom__outputBlock js-op_block-repC">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} check for reverse str {% endcomment %}
  <div class="dom__container" id="rev">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module takes one string, and returns the string reversed</p>
        </div>
        <span>
          <label for="num1">Enter a string</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="text">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-revStr">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} email validation {% endcomment %}
  <div class="dom__container" id="em">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module takes one string, and checks if it's a valid email address</p>
        </div>
        <span>
          <label for="num1">Enter a string</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="email">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-em">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} str checker {% endcomment %}
  <div class="dom__container" id="strCheck">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module  that takes one string, if it passes some rules</p>
          <ul>
            <li>The string needs to be at least 10 characters long</li>
            <li>The string needs to include at least one uppercase character</li>
            <li>The string needs to include at least on lowercase character</li>
            <li>The string needs to include at least one number</li>
          </ul>
        </div>
        <span>
          <label for="num1">Enter a string</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="email">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-strCheck">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
        <p class=" js-result-strCheckerror">
        </p>
      </div>
    </div>
  </div>
  {% comment %} time {% endcomment %}
  <div class="dom__container" id="time">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module that display the current time</p>
        </div>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-time">
        <span>
          <label class="js-error" for="">Result</label>
          <h5 class="inputResult js-result"></h5>
        </span>
      </div>
    </div>
  </div>
  {% comment %} time,entry,name {% endcomment %}
  <div class="dom__container" id="TEN">
    <div class="dom__wrapper">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module that display Time, Name, and Entry</p>
        </div>
        <span>
          <label id="num1">Name</label>
          <input
            class="inputResult js-value1"
            id="num1"
            type="text">
        </span>
        <span>
          <label id="num2">Entry</label>
          <input
            class="inputResult js-value2"
            id="num2"
            type="text">
        </span>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-TEN">
        <span>
          <label class="js-error" for="">Result</label>
          <table class="js-result">
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Entry</th>
              </tr>
            </thead>
            <tbody class="table-block"></tbody>
          </table>
        </span>
      </div>
    </div>
  </div>
  {% comment %} add input field {% endcomment %}
  <div class="dom__container" id="newField">
    <form class="dom__wrapper js-form">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module creates new input fields and show the value.</p>
        </div>
        <div class="input-field_container">
          <input
            class="inputResult js-value-1"
            id="num1"
            type="text">
        </div>
        <div>
          <button type="button" class="js-addButton">Add inputField</button>
        </div>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-newField">
        <span>
          <label class="js-error">Result</label>
          <ul class="js-entry-list"></ul>
        </span>
      </div>
    </form>
  </div>
  {% comment %} remove list item {% endcomment %}
  <div class="dom__container" id="remove">
    <form class="dom__wrapper js-form-rmv">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module removes the item from the list when clicked.</p>
        </div>
        <div class="input-field_container-rmv">
          <input
            class="inputResult js-value-rmv-1"
            id="num1"
            type="text">
        </div>
        <div>
          <button type="button" class="js-rmvButton">Add inputField</button>
        </div>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-rmv">
        <span>
          <label class="js-error">Result</label>
          <ul class="js-entry-list-rmv"></ul>
        </span>
      </div>
    </form>
  </div>
  {% comment %} random num gen {% endcomment %}
  <div class="dom__container" id="randomGen">
    <form class="dom__wrapper js-form-gen">
      <div class="dom__inputBlock">
        <div class="dom__header">
          <p>The module generates random number when submit field.</p>
        </div>
        <div class="input-field_container-gen">
          <input
            class="inputResult js-value-gen-1"
            id="num1"
            type="text">
        </div>
        <div>
          <button type="button" class="js-genButton">Add inputField</button>
        </div>
        <span>
          <input class="inputResult js-submit" type="submit">
        </span>
      </div>
      <div class="dom__outputBlock js-op_block-gen">
        <span>
          <label class="js-error">Result</label>
          <ul class="js-entry-list-gen"></ul>
        </span>
      </div>
    </form>
  </div>
  {% comment %} random num and populate in table with sort {% endcomment %}
  <div class="dom__container" id="ranSort">
    <div class="dom__wrapper">
      <form>
        <div class="dom__inputBlock">
          <div class="dom__header">
            <p>This module takes two numbers and sorts the random numbers in table</p>
          </div>
          <span>
            <label for="num1"> Number1 interger</label>
            <input
              class="inputResult js-value1"
              id="num1"
              type="number"onkeydown="return event.keyCode !== 69">
          </span>
          <span>
            <label for="num2"> Number2 interger</label>
            <input
              class="inputResult js-value2"
              id="num2"
              type="number"onkeydown="return event.keyCode !== 69">
          </span>
          <span>
            <input type="submit" class="inputResult js-submit" />
          </span>
        </div>
      </form>
      <div class="dom__outputBlock js-op_block-ranSort">
        <span>
          <label class="js-error" for="">Result</label>
          <table class="js-resTable">
          <thead>
            <tr>
              <th>random-gen-number</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        </span>
      </div>
    </div>
  </div>
  {% comment %} ajax with product fetch {% endcomment %}
  <div class="dom__container" id="product-ajax">
    <div class="dom__wrapper">
      <form class="js-form-product">
        <div class="dom__inputBlock">
          <div class="dom__header">
            <p>This module fetched the serached product</p>
          </div>
          <span>
            <label for="num1"> Enter product name</label>
            <input
              class="inputResult js-value1"
              id="num1"
              type="text">
          </span>
          <span>
            <input type="submit" class="inputResult js-submit" />
          </span>
        </div>
      </form>
      <div class="dom__outputBlock js-op_block-pAjax">
        <span>
          <label class="js-error" for="">Result</label>
          <table class="js-resultTable">
          <thead>
            <tr>
              <th>title</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        </span>
      </div>
    </div>
  </div>
  {% comment %} ajax cart {% endcomment %}
  <div class="dom__container" id="cart">
    <div class="dom__wrapper">
      <form class="js-form-cart">
        <div class="dom__inputBlock">
          <div class="dom__header">
            <p>This module shows the cart data</p>
          </div>
          <span>
            <input type="submit" class="inputResult js-submit" />
          </span>
        </div>
      </form>
      <div class="dom__outputBlock js-op_block-cart">
      </div>
    </div>
  </div>
</div>
  


